# OS specific
.DS_Store
Thumbs.db

# Rust (Tauri)
target/

# Node / Frontend
node_modules/
dist/
yarn.lock 

# Logs / cache
*.log
.cache/

# JetBrains
.idea/
*.iml

# Xcode
DerivedData/
*.xcuserstate
xcuserdata/

# Google
macos/Pomodoro/Pomodoro/GoogleService-Info.plist